/*-------------------------------------------- */
/* BASIC SETUP */
/*-------------------------------------------- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background-color: #fff;
	color: #555;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}

.clearfix {
	zoom: 1;
}
.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

/*-------------------------------------------- */
/* REUSABLE COMPONENTS */
/*-------------------------------------------- */

.row {
	max-width: 1140px;
	margin: 0 auto;
}

section {
	padding: 80px 0;
}

.box {
	padding: 1%;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
	font-weight: 300;
}

h1 {
	margin-top: 0;
	margin-bottom: 20px;
	color: #fff;
	font-size: 240%;
	word-spacing: 4px;
	letter-spacing: 1px;
}

h2 {
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

h2:after {
	display: block;
	height: 3px;
	background-color: #114b4d;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
}

/* ----- PARAGRAPHS ----- */
.long-copy {
	line-height: 145%;
	width: 70%;
	margin-left: 15%;
}

.box p {
	font-size: 90%;
	line-height: 145%;
}


/*-------------------------------------------- */
/* HEADER */
/*-------------------------------------------- */
header {
	background-color: #114b4d;
}

.background__hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url(https://images.unsplash.com/photo-1557701197-2f99da0922dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);
	background-size: cover;
	background-position: bottom;
	height: calc(100vh - 60px);
}

.hero-text-box {
	position: absolute;
	width: 1140px;
	bottom: 7%;
	left: 50%;
	transform: translate(-50%);
}

/* ----- MAIN NAV ----- */

.main-nav {
	list-style: none;
	height: 60px;
}

.main-nav li {
	float: right;
	display: inline;
	margin-left: 40px;
	margin-top: 25px;
}

.main-nav li a:link,
.main-nav li a:visited {
	padding 8px 0;
	text-decoration: none;	
	color: #fff;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active{
	padding 8px 0;
	text-decoration: none;	
	color: #fff;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid #fff;
}

/* ----- LOGO ----- */

.logo{
	height: 200px;
	width: auto;
	float: left;
	margin-top: -35px;
	border-radius: 50%;
	padding: 10px;
	background-color: white;
	border: groove 7px #1e6568;
}

/* ----------------------------------------------- */
/* SOBRE NOS */
/* ----------------------------------------------- */

.section-sobre-nos {
	background-color: #fff;
}

/* ----------------------------------------------- */
/* NOSSOS SERVICOS */
/* ----------------------------------------------- */

.section-nossos-servicos {
	background-color: #f4f4f4;
}

.nossos-servicos-box {
	background-color: #fff;
	border-radius: 5px;
	width: 90%;
	margin-left: 5%;
	box-shadow: 0 2px 2px #efefef;
}

.nossos-servicos-box div {
	padding: 15px;
	border-bottom: 1px solid #e8e8e8;
}

.nossos-servicos-box div:first-child {
	background-color: #fcfcfc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.nossos-servicos-box h3{
	display: inline-block;
	position: absolute;
	padding-top: 2px;
}

.nossos-servicos-box ul {
	list-style: none;
}

.nossos-servicos-box ul li {
	padding: 5px 0;
}
.nossos-servicos-box ion-icon {
	color: #114b4d;
}

.nossos-servicos-box ul li ion-icon {
	padding-right: 10px;
}

.nossos-servicos-box div:first-child ion-icon {
	padding-right: 11px;
	font-size: 160%;
}
/* ----------------------------------------------- */
/* LOCALIZAÇÃO */
/* ----------------------------------------------- */

.localizacao {
	padding-bottom: 0;
}

.localizacao__content {
	display: flex;
	justify-content: column;
}

#mapid {
	height: 400px;
	width: clamp(55%, 60%, 70%);
}

.informacoes {
	color: #fff;
	height: 400px;
	width: 600px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)), url(https://dl.dropboxusercontent.com/s/11c9l6mr9nhb8x9/foto4.jpeg?dl=0);
	background-size: 150%;
}

.informacoes p {
	padding-top: 20px;
	padding-left: 20px;
	line-height: 1.5em
}

/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
	background-color: #333;
	padding: 30px;
	font-size: 90%;
}

.social-medias{
	width: 220px;
	margin: auto;
}

.social-icons {
	list-style: none;
	display: flex;
	justify-content: space-between;
	font-size: 165%;
	text-decoration: none;	
	color: #999;
}

.social-icons li a:visited {
	color: #999;
}

.mail:hover{
	color: #229b9f;
}

.logo-instagram:hover{
	color: #c32aa3;
}

.logo-facebook:hover{
	color: #1877f2;
}

.logo-whatsapp:hover{
	color: #25d366;
}

footer p {
	color: #fff;
	text-align: center;
	font-size: 90%;
	padding-top: 15px;
}
